/* app css stylesheet */

form.add-schedule {
	margin-bottom: 0;
}

.block-margin {
	margin-bottom: 7.5px !important;
}

body {
	padding-top: 70px;
}

.playlist-item {
	padding: 0.5em;
	line-height: 2em;
}

.album-art {
	max-height: 2em;
}