extend layout

mixin device
  div.row
    div.col-md-12
      div.col-md-12
        h2.media-heading {{device.name}}
          img.media-object(ng-src='{{device.icon.url}}')
  div.row
    div.media-body.col-md-12
      div.col-md-8
        div.panel.panel-default.schedule
          div.panel-heading
            h3.panel-title Wakeup Schedules
          div.panel-body
            div.list-group-item(ng-repeat='schedule in device.schedules')
              +schedule()
            div.list-group-item
              +addSchedule()
      div.col-md-4
        form.form
          div.panel.panel-default.store-playlist
            div.panel-heading
              h3.panel-title Save play queue as playlist
            div.panel-body
                div.form-group
                  input.form-control(id='playlist-name',type='text',name='playlist',placeholder='Name of playlist',ng-model='playlistName')
            div.panel-footer.clearfix
              div.pull-right
                button.btn.btn-success(ng-click='storePlaylist(playlistName)',ng-model='playlistName') Store

mixin addSchedule
  form.form-inline.add-schedule
    a(href='',ng-click='toggleDay("mon")',ng-key-select='toggleDay("mon")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.mon') Mon
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.mon') Mon
    | 
    a(href='',ng-click='toggleDay("tue")',ng-key-select='toggleDay("tue")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.tue') Tue
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.tue') Tue
    | 
    a(href='',ng-click='toggleDay("wed")',ng-key-select='toggleDay("wed")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.wed') Wed
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.wed') Wed
    | 
    a(href='',ng-click='toggleDay("thu")',ng-key-select='toggleDay("thu")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.thu') Thu
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.thu') Thu
    | 
    a(href='',ng-click='toggleDay("fri")',ng-key-select='toggleDay("fri")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.fri') Fri
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.fri') Fri
    | 
    a(href='',ng-click='toggleDay("sat")',ng-key-select='toggleDay("sat")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.sat') Sat
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.sat') Sat
    | 
    a(href='',ng-click='toggleDay("sun")',ng-key-select='toggleDay("sun")')
      span.day.ng-hide.label.label-default(ng-hide='newSchedule.days.sun') Sun
      span.day.ng-show.label.label-primary(ng-show='newSchedule.days.sun') Sun
    | 
    div.form-group
      input.form-control(type='time',placholder='HH:mm',ng-model='newSchedule.time')
    div.pull-right
      button.btn.btn-success(ng-click='addWakeUp(newSchedule)',ng-key-select='addWakeUp(newSchedule)') Add


mixin schedule
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.mon') Mon
  span.day.ng-show.label.label-info(ng-show='schedule.days.mon') Mon
  | 
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.tue') Tue
  span.day.ng-show.label.label-info(ng-show='schedule.days.tue') Tue
  | 
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.wed') Wed
  span.day.ng-show.label.label-info(ng-show='schedule.days.wed') Wed
  | 
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.thu') Thu
  span.day.ng-show.label.label-info(ng-show='schedule.days.thu') Thu
  | 
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.fri') Fri
  span.day.ng-show.label.label-info(ng-show='schedule.days.fri') Fri
  | 
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.sat') Sat
  span.day.ng-show.label.label-info(ng-show='schedule.days.sat') Sat
  | 
  span.day.ng-hide.label.label-default(ng-hide='schedule.days.sun') Sun
  span.day.ng-show.label.label-info(ng-show='schedule.days.sun') Sun
  | 
  | at 
  | 
  span.time.label.label-info {{schedule.time}}
  div.pull-right
    button.btn.btn-xs.btn-danger(ng-click='deleteWakeUp(schedule)',ng-key-select='deleteWakeUp(schedule)') Remove

block body
  div(ng-controller='AppCtrl')
    div.row(ng-repeat='device in devices', ng-controller='DeviceCtrl')
      +device()
  script(src='bower_components/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/directives.js')
  script(src='js/filters.js')