extend layout

mixin device
  div.row
    div.col-sm-12
      h2 {{device.room}}
      img(ng-src='{{device.icon.url}}')
  div.row
    div.col-sm-12
      form.form
        div.form-group
          label.control-label(for="playlist-name") Playlist
          input.input-lg.form-control(id='playlist-name',type='text',list='playlists',name='playlist',placeholder='Name of playlist',ng-model='playlistName')
          datalist#playlists
            option(ng-repeat='playlist in playlists | orderBy',value='{{playlist}}')
        div.row
          div.col-sm-12
            alert(ng-repeat="alert in alerts",type="{{alert.type}}",close="closeAlert($index)") {{alert.msg}}
        div.hidden-xs.clearfix
          div.pull-right
            button.btn.btn-primary(ng-click='playMusic(playlistName)',ng-show='isExistingPlaylist(playlistName)',ng-model='playlistName')
              span.glyphicon.glyphicon-play
              | 
              span Play
            | 
            button.btn.btn-success(ng-click='appendPlaylist(playlistName)',ng-show='isExistingPlaylist(playlistName)',ng-model='playlistName')
              | 
              span Add Current Track
            | 
            button.btn.btn-warning(ng-click='storePlaylist(playlistName)',ng-show='isExistingPlaylist(playlistName)',ng-model='playlistName')
              | 
              span Replace Playlist
            | 
            div.btn-group(ng-show='!isExistingPlaylist(playlistName)',ng-model='playlistName')
              button.btn.btn-success(type='button',ng-click='storePlaylist(playlistName)') Save Playlist
              button.btn.btn-success.dropdown-toggle(type='button',data-toggle='dropdown',aria-expanded='false')
                span.caret
                span.sr-only Toggle Dropdown
              ul.dropdown-menu(role='menu')
                li
                  a(ng-click='appendPlaylist(playlistName)') With Only Current Track
        div.row.visible-xs
          div.col-sm-12
            button.block-margin.btn.btn-lg.btn-block.btn-primary(ng-click='playMusic(playlistName)',ng-show='isExistingPlaylist(playlistName)',ng-model='playlistName')
              span.glyphicon.glyphicon-play
              | 
              span Play
            | 
          div.col-sm-12
            button.block-margin.btn.btn-lg.btn-block.btn-success(ng-click='appendPlaylist(playlistName)',ng-show='isExistingPlaylist(playlistName)',ng-model='playlistName')
              span Add Current Track
            | 
          div.col-sm-12
            button.block-margin.btn.btn-lg.btn-block.btn-success(ng-click='appendPlaylist(playlistName)',ng-show='!isExistingPlaylist(playlistName)',ng-model='playlistName')
              span Current Track As New Playlist
            | 
          div.col-sm-12
            button.block-margin.btn.btn-lg.btn-block.btn-success(ng-click='storePlaylist(playlistName)',ng-show='!isExistingPlaylist(playlistName)',ng-model='playlistName')
              span Save Playlist
            | 
          div.col-sm-12
            button.block-margin.btn.btn-lg.btn-block.btn-warning(ng-click='storePlaylist(playlistName)',ng-show='isExistingPlaylist(playlistName)',ng-model='playlistName')
              span Replace Playlist
            | 

block body
  div(ng-controller='AppCtrl')
    tabset
      tab(ng-repeat='device in devices | orderBy: "name"', ng-controller='DeviceCtrl',heading='{{device.room}}')
        +device()